* {
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
}

.gotahmLight {
  font-weight: 300;
}

.gothamMedium {
  font-weight: 500;
}

.title {
  color: $teal;
  font-size: 28px;
  font-weight: 500;
}
