// grid like css

.header-section {
  width: 710px;
  float: right;
  margin-top: -34px;
  padding: 0 0 50px;
}

.section-break {
  border-top: 1px solid $lightGray;
  clear: both;
  padding: 45px 0 40px 250px;
}

