.nav {
  padding: 37px 0 17px;
  border-bottom: 1px solid $lightGray;
  margin: 0 0 95px;
  height: 85px;

  .welcome {
    float: left;
    color: $gray;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
  }

  ul {
    float: right;

    li {
      float: left;
      list-style: none;

      a {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        display: block;
        padding: 0 40px;
        text-transform: uppercase;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

#avatar {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: left;
  margin: 0 10px 0 0;
  background-size: cover;
}
